<div class="media">
    <span class="pull-left">
        {% if user.photo_url %}
            <img class="media-object img-circle" src="{{ user.photo_url }}" width="55" height="55">
        {% else %}
            <div class="media-object"></div>
        {% endif %}
    </span>
    <div class="media-body">
        <h4 class="media-heading">
            {{ user.get_full_name }}
            {% if can_edit %}
                <button class="btn btn-xs btn-primary" type="button" data-target="#profile-modal" data-toggle="modal">
                    Edit
                </button>
            {% endif %}
        </h4>
        <p>{{ user.email }}</p>
    </div>
</div>